body {
  background: black;
}

@font-face {
  font-family: Oswald;
  src: url('./fonts/Oswald-VariableFont_wght.ttf');
}

.header img {
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
  padding: 10px;
  margin: 10px;
}

.header {
  background-color: #111111;
  background-image: url('img/static.jpg')
}

h1 {
  font-size: 3em;
  font-family: Oswald;
  text-align: center;
}

p {
  font-size: 1.6em;
  font-family: Oswald;
  color: black;
}

#section1 {
  background-color: black;
}

#section1 h1 {
  color: white;
}

#section2 {
  background-color: white;
}

#section2 h1 {
  color: black;
  text-transform: uppercase;
}

#section3 {
  background-color: black;
}

#section3 h1 {
  color: grey;
  text-transform: uppercase;
}
